#Cache

<FilesMatch "\.(html|htm|php|css|js|woff|png|jpg)$">
#Header set Cache-Control "max-age=604800, private, proxy-revalidate"
</FilesMatch>

#normas rewrite

#Options +FollowSymLinks
RewriteEngine On


#Redirección www

RewriteCond %{HTTP_HOST} ^www.mireiafacal.com [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/$1 [L,R=301]

#Redirecciones Dominios

RewriteCond %{HTTP_HOST} ^www.mireiafacal.es$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]
RewriteCond %{HTTP_HOST} ^mireiafacal.es$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www.gyrotonic-coruna.com$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]
RewriteCond %{HTTP_HOST} ^gyrotonic-coruna.com$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www.xn--gyrotonic-corua-crb.com$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]
RewriteCond %{HTTP_HOST} ^xn--gyrotonic-corua-crb.com$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www.gyrotonic-coruna.es$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]
RewriteCond %{HTTP_HOST} ^gyrotonic-coruna.es$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www.xn--gyrotonic-corua-crb.es$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]
RewriteCond %{HTTP_HOST} ^xn--gyrotonic-corua-crb.es$ [NC]
RewriteRule ^(.*)$ http://mireiafacal.com/ [R=301,L]




#Redireccion 404

#Error 404:

ErrorDocument 404 /index.html

